/* 
VARIABLES
CLASSES PERSONNALISEES
ELEMENTS 
HEADER

PAGE ACCUEIL
PAGE REALISATION

MOBILE VIEW
*/

/* VARIABLES */
:root {
  --color-spa: #151e3f;
  --color-oxf: #030027;
  --color-lbl: #a4d3cb;
  --color-cor: #e7e4da;
  --color-sun: #f7f4f1;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  color:var(--color-oxf);
}

/* CLASSES PERSONNALISEES  */
.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

/* ELEMENTS */
html{
  overflow-y: scroll;
  scrollbar-width: none;
}
body{
  width: 100%;
}
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section{
  width: 100%;
}


/* HEADER */
header {
  width: 90%;
  height: 40px;
  padding: 15px 5%;
  background-color: var(--color-spa);
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav {
  width: 80%;
  height: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-img {
  width: 40px;
  border-radius: 50%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-btn {
  padding: 10px 15px;
  color: var(--color-cor);
  background-color: var(--color-spa);
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus {
  border-bottom: 2px solid #fff;
}

/* BODY */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-cor);
}

.prj-img-cont{
   width: 150px;
   height: 150px;
   display:flex;
   justify-content: center;
   align-items: center;
}
.prj-img {
  max-width: 140px;
  max-height: 140px;
}
/* PAGE ACCUEIL */
.sect-intro,
#real {
  display: flex;
  flex-flow: row wrap
}

.sect-title{
  width: 100%;
  height: 100vh;
  color: #fff;
  position: relative;
}

.sect-title-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(3, 0, 39, 0.8);
}

.sect-title-cont{
  position: relative;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.sect-title-cont > h1 {
  font-size: 50px;
  color: inherit;
}
.sect-title-cont > p {
  font-size: 35px;
  color: inherit;
}

.bg-image{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}


#aboutme{
  padding: 25px 0;
}

.sect-intro{
  max-width: 1200px;
  width: 90%;
  background-color: var(--color-sun);
  border-radius: 10px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.sect-intro-title{
  width : 40%;
  display: flex;
  flex-flow: row wrap
}

.sect-intro-imgsec{
  width:25%;
}
.sect-intro-img {
  max-width: 75px;
  border-radius: 50%;
}
.sect-intro-info{
 width: 75%;
 display:flex;
 flex-direction: column;
 justify-content: space-between;
}

.h4{
  font-weight: 600;
  font-size: 1.1rem;
}
.sect-intro-skill{
  width:100%;
}

.progress {
  width: 90%;
  background-color: var(--color-cor);
  padding: 3px;
  border-radius: 5px;
}

.progress-bar{
  background-color: var(--color-spa);
  height: 10px;
  border-radius: 5px;
}

.sect-intro-desc{
  width : 60%
}

/* REALISATIONS */
#real{
  width: 100%;
  padding:25px 0;
}
.real-title{
  width: 100%;
  display: flex;
  justify-content: center;
}

.diapo{
  width: 90%;
  margin: 20px auto;
}

.elements{
  width: 100%;
  padding: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.element{
  width: 30%;
  min-width: 300px; 
  display: flex;
  justify-content: center;
  position: relative;
}

.proj-art{
  padding: 2%;
  width: 96%;

}
.article{
  width: 96%;
  height:300px;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-sun);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prj-detail{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.prj-desc{
  width: 94%;
  padding:3%;
  display: flex;
  flex-direction: column;
}
.prj-link{
  display: flex;
  flex-direction: row;
}



.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-oxf);
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.button-inac{
  display:none;
}

.button:hover,
.button:focus,
.button:active {
  color: #fff;
  background-color: var(--color-oxf);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}



/* MOBILE VIEW  */
@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    margin: 0 -5%;
  }
  .nav-bar {
    flex-direction: column;
  }
  .nav-list {
    display: none;
    flex-direction: column;
  }

  .sect-intro {
    display: flex;
    flex-direction: column;
  }

  .sect-intro-title,
  .sect-intro-desc{
    width : 100%
  }
}
